/.idea/
/hr_equipment_stock/.idea/inspectionProfiles/profiles_settings.xml
/hr_equipment_stock/.idea/.gitignore
/hr_equipment_stock/.idea/csv-plugin.xml
/hr_equipment_stock/.idea/hr_equipment_stock.iml
/hr_equipment_stock/.idea/misc.xml
/hr_equipment_stock/.idea/modules.xml
/hr_equipment_stock/.idea/vcs.xml
/hr_equipment_stock/.idea/workspace.xml
